Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cert-*,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  clang-analyzer-*,
  misc-*,
  -misc-unused-parameters,
  readability-identifier-naming,
  readability-braces-around-statements,
  readability-isolate-declaration,
  readability-redundant-preprocessor,
  readability-magic-numbers,

WarningsAsErrors: ""

HeaderFilterRegex: '.*\.(h|hpp)$'

CheckOptions:
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.TypedefCase
    value: lower_case
  - key: readability-identifier-naming.TypedefSuffix
    value: "_t"
  - key: readability-identifier-naming.StructCase
    value: lower_case
  - key: readability-identifier-naming.EnumCase
    value: lower_case
  - key: readability-identifier-naming.EnumSuffix
    value: "_t"
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.LocalVariableCase
    value: lower_case
  - key: readability-identifier-naming.GlobalVariableCase
    value: lower_case
  - key: readability-identifier-naming.GlobalVariablePrefix
    value: "g_"
  - key: readability-identifier-naming.StaticVariableCase
    value: lower_case
  - key: readability-identifier-naming.StaticVariablePrefix
    value: "s_"
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: "0;1;2"
