CompileFlags:
  Compiler: mipsel-none-elf-gcc
  CompilationDatabase: build/arm-debug
  Add:
    - -std=c17
    - -ffreestanding
  Remove:
    - -isysroot
    - -arch
    - --sysroot
    - -ffixed-k0
    - -ffixed-k1
    - -fno-delayed-branch

Diagnostics:
  Suppress:
    - unused-command-line-argument
    - unknown-argument

Completion:
  AllScopes: true
